.maincontainer{
width:500px ;
margin-left: 20px;
color:maroon;
}
.second{
width:500px ;
margin-left: 20px;
border:4px;
font-size: medium;
font-weight: bolder;


    
}
.header{
    font-weight:900;
    font-size: larger;
    color: darkorange;
    border: 5px solid;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    
    }
    .card{
        border: 4px solid;
        margin-left: 20px;
        margin-right: 700px;
        font-size: medium;
        font-weight: bolder;
        color:lightsteelblue;
        
        }